@charset "utf-8";



/* common css */
.inner {
  width: 1100px; margin: 0 auto; position: relative;
}
/* 버튼 스타일 */
.btn {
  width: 130px; padding: 10px; border: 2px solid #333; border-radius: 4px; font-size: 16px; color: #333; font-weight: 700; text-align: center; cursor: pointer; box-sizing: border-box; display: block; transition: .4s;
}
.btn:hover {
  background-color: #333; color: #fff;
}
/* 동작에 따른 버튼 스타일 */
.btn.btn--reverse {
  background-color: #333; color: #fff;
}
.btn.btn--reverse:hover {
  background-color: transparent; color: #333;
}
.btn.btn--brown {
  color: #a52a2a; border-color: #a52a2a;
}
.btn.btn--brown:hover {
  color: #fff; background-color: #a52a2a;
}
.btn.btn--gold {
  color: #dcb649; border-color: #dcb649;
}
.btn.btn--gold:hover {
  color: #fff; background-color: #dcb649;
}
.btn.btn--white {
  color: #fff; border-color: #fff;
}
.btn.btn--white:hover {
  color: #333; background-color: #fff;
}

/* scrollMagic */
.back-to-position{
  opacity: 0;
  transition: 1s;
}
.back-to-position.to-right{
  transform: translateX(-150px);
}
.back-to-position.to-left{
  transform: translateX(150px);
}
.show .back-to-position {
  opacity: 1;
  transform: translateX(0);
}
/* 각 요소 시간차 */
.show .back-to-position.delay-0{
  transition-delay: 0s;
}
.show .back-to-position.delay-1{
  transition-delay: .3s;
}
.show .back-to-position.delay-2{
  transition-delay: .6s;
}
.show .back-to-position.delay-3{
  transition-delay: .9s;
}

/* header */
header {
  background-color: #2c2c2c;
  position: fixed; top: 0; width: 100%; z-index: 9;
}
header .inner {
  height: 120px;
}
header img{
  width: 20rem;
}
header a.logo {
  height: 75px; 
  position: absolute; top: 0; bottom: 0; left: 0; margin: auto;
}
header div.sub-menu {
  display: flex; position: absolute; top: 10px; right: 0;
}
header .sub-menu .menu {
  display: flex; font-family: Arial, Helvetica, sans-serif;
}
header .sub-menu .menu li {
  position: relative;
}
header .sub-menu .menu li:before {
  content: "";
  width: 1px; height: 12px; background-color: #e5e5e5; position: absolute; top: 0; bottom: 0; margin: auto;
}
header .sub-menu .menu li:first-child::before {
  display: none;
}
header .sub-menu .menu li a {
  font-size: 12px; padding: 11px 16px; display: block; color: #d9d9d9;
}
header .sub-menu .menu li a:hover {
  color: #ebebeb;
}
header .sub-menu .search {
  height: 34px; position: relative;
}
header .sub-menu .search input {
  width: 36px; height: 34px; padding: 4px 10px; border: 1px solid #ccc; border-radius: 5px; outline: none; background-color: #fff; box-sizing: border-box; color: #777; font-size: 12px; transition: width .4s;
}
header .sub-menu .search input:focus {
  width: 190px; border-color: #dcb649;
}
header .sub-menu .search .material-icons {
  height: 24px; position: absolute; top: 0; bottom: 0; right: 5px; margin: auto; transition: .4s;
}
header .sub-menu .search.focused .material-icons {
  opacity: 0;
}

header .main-menu {
  position: absolute; bottom: 0; right: 0; z-index: 1; display: flex;
}
header .main-menu .item {
  cursor: pointer;
}
header .main-menu .item .item__name {
  padding: 10px 20px 34px 20px;
  font-family: Arial, Helvetica, sans-serif; font-size: 18px;
  color: #fff;
}
header .main-menu .item:hover .item__name {
  background-color: #2c2a29; color: #dcb649; border-radius: 6px 6px 0 0;
}

header .main-menu .item .item__contents {
  width: 100%; position: fixed; left: 0; 
  background-color: #ccc; display: none;
}
header .main-menu .item:hover .item__contents {
  display: block;
}
header .main-menu .item .item__contents .contents__menu {
  background-color: #2c2a29;
}
header .main-menu .item .item__contents .contents__menu > ul {
  display: flex; padding: 20px 0; height: 100%;
}
header .main-menu .item .item__contents .contents__menu > ul > li {
  width: 220px;
}
header .main-menu .item .item__contents .contents__menu > ul > li h4 {
  padding: 3px 0 12px 0; font-size: 15px; color: #fff;
}
header .main-menu .item .item__contents .contents__menu > ul > li ul li {
  padding: 5px 0; font-size: 13px; color: #999; cursor: pointer;
}
header .main-menu .item .item__contents .contents__menu > ul > li h4:hover {
  color: #dcb649;
}
header .main-menu .item .item__contents .contents__menu > ul > li ul li:hover {
  color: #dcb649;
}

header .main-menu .item .item__contents .contents__texture {
  padding: 26px 0; font-size: 12px; background: url(../images/main_menu_pattern.jpg);
}
header .main-menu .item .item__contents .contents__texture h4 {
  color: #999; font-weight: 700;
}
header .main-menu .item .item__contents .contents__texture p {
  color: #dcb649; margin: 4px 0 14px;
}

header .badges {
  position: fixed; top: 132px; right: 12px;
}
header .badges .badge {
  border-radius: 10px; overflow: hidden; margin-bottom: 12px; box-shadow: 4px 4px 10px rgba(0,0,0,.15); cursor: pointer;
}

/* visual */
.visual {
  margin-top: 120px; background: url(../images/timberbanner4.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.visual .inner {
  height: 640px;
}
.visual .title {
  position: absolute; top: 80px; left: -10px;
}
.visual .title .btn {
  position: absolute; top: 259px; left: 173px;
}
.visual .cup1.image {
  position: absolute; bottom: 0; right: -47px;
}
.visual .cup1.text {
  position: absolute; top:38px; right: 171px;
}
.visual .cup2.image {
  position: absolute; bottom: 0; right: 162px;
}
.visual .cup2.text {
  position: absolute; top:321px; right: 416px;
}
.visual .spoon {
  position: absolute; bottom:0; left: 275px;
}

.visual .fade--in {
  opacity: 0;
}

/* notice */

.notice .notice-line {
  position: relative;
}
.notice .notice-line .bg-left,
.notice .notice-line .bg-right {
  position: absolute; top: 0; width: 50%; height: 100%;
}
.notice .notice-line .bg-left {
  left: 0; background-color: #333;
}
.notice .notice-line .bg-right {
  right: 0; background-color: #f6f5ef;
}
.notice .notice-line .inner {
  height: 62px; display: flex;
}

.notice .notice-line .inner__left {
  width: 60%; height: 100%; background-color: #333; display: flex;
  align-items: center;
}
.notice .notice-line .inner__right {
  width: 40%; height: 100%; display: flex; justify-content: flex-end; align-items: center;
}

.notice .notice-line .inner__left h2 {
  color: #fff; font-size: 17px; font-weight: 700; margin-right: 20px;
}
.notice .notice-line .inner__left .swiper {
  height: 62px; flex-grow: 1;
}
.notice .notice-line .inner__left .notice-line__more {
  width: 62px; height: 62px; display: flex; justify-content: center; align-items: center;
}
.notice .notice-line .inner__left .notice-line__more .material-icons {
  color: #fff; font-size: 30px;
}
.notice .notice-line .inner__right h2 {
  font-size: 17px; font-weight: 700; margin-right: 20px;
}
.notice .notice-line .inner__right .toggle-promotion {
  width: 62px; height: 62px; cursor: pointer; display: flex; justify-content: center; align-items: center;
}
.notice .notice-line .inner__right .toggle-promotion .material-icons {
  font-size: 30px;
}
.notice .notice-line .inner__left .swiper .swiper-slide {
  height: 62px; 
  display: flex; 
  align-items: center;
}
.notice .notice-line .inner__left .swiper .swiper-slide a {
  color: #fff;
}
.notice .promotion { 
  height: 693px; 
  background-color: #f6f5ef;
  position: relative;
  transition: height .4s; overflow: hidden;
}
.notice .promotion.hide {
  height: 0;
}

.notice .promotion .swiper {
  width: calc(819px * 3 + 20px); 
  height: 553px; 
  position: absolute; 
  top: 40px; left: 50%; 
  margin-left: calc((819px * 3 + 20px) / -2);
}

.notice .promotion .swiper-slide{
  opacity: .5; transition: opacity 1s;
}
.notice .promotion .swiper-slide-active{
  opacity: 1;
}
.notice .promotion .swiper-slide .btn{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.notice .promotion .swiper-pagination{
  bottom: 40px;
  left: 0;
  right: 0;
  margin: auto;
}

.notice .promotion .swiper-pagination .swiper-pagination-bullet{
  background-image: url(../images/promotion_slide_pager.png);
  width: 12px;
  height: 12px;
  margin-right: 6px;
  outline: 0;
  background-color: transparent;
}
.notice .promotion .swiper-pagination .swiper-pagination-bullet:last-child{
  margin-right: 0;
}
.notice .promotion .swiper-pagination .swiper-pagination-bullet-active
{ background-image: url(../images/promotion_slide_pager_on.png);
}

.notice .promotion .swiper-button-prev,
.notice .promotion .swiper-button-next{
  width: 42px;
  height: 42px;
  border: 2px solid #333;
  border-radius: 50%;
  position: absolute;
  top: 300px;
  z-index: 1;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, .3); transition: .4s;
}

.notice .promotion .swiper-button-prev {
  margin-left: 380px; color: #dcb649;
}
.notice .promotion .swiper-button-next {
  margin-right: 380px; color: #dcb649;
}

.notice .promotion .swiper-button-prev:after,
.notice .promotion .swiper-button-next:after{
  content: "";
}

.notice .promotion .swiper-button-prev:hover,
.notice .promotion .swiper-button-next:hover{
  background-color: #333; color: #fff;
}

/* season product */
.season-product{
}
.season-product .inner{
  height: 400px;
}
.season-product .floating3{
  position: absolute;
  top: -200px;
  right: 0;
}
.season-product .text-group{
 
  position: absolute;
  top: 110px;
  right: 100px;
}
.season-product .text-group .title{
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 700;
}
.season-product .text-group .description{
  margin-bottom: 15px;
}

/*reserve coffee*/
.reserve-coffee{
 background-color: #2c2a29;
}
.reserve-coffee .inner{
  height: 400px;
}
.reserve-coffee .reserve-logo{
  position: absolute; top: 110px; left: 0;
}
.reserve-coffee .text-group{
  font-size: 25px;
  color: #fff;
  position: absolute; top: 124px; left: 200px;
}
.reserve-coffee .more{padding-top: 30px;}
.reserve-coffee .product{
  position: absolute; top: 0; right: 0;
}

/* .pick your favorite */
.pick-your-favorite{
  background-image: url(../images/timberbanner2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.pick-your-favorite .inner{
  padding: 110px 0;
}
.pick-your-favorite .text-group{
  margin-left: 100px;
  display: flex;
  width: 320px;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.pick-your-favorite .text-group .title{
 margin-bottom: 40px;
}
.pick-your-favorite .text-group .description{
  color: #fff; 
  text-align: right;
  font-size: 17px;
 margin-bottom: 40px;
}

/* reserve store */
.reserve-store{
  background: url(../images/timberbanner3.png) no-repeat fixed center/cover ;
}

.reserve-store .inner{
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reserve-store .medal{
  width: 334px;
  height: 334px;
  perspective: 600px;
  /* 원근감 perspective */
}
.reserve-store .medal .front,
.reserve-store .medal .back{
  width: 334px;
  height: 334px;
  backface-visibility: hidden;
  transition: 1s;
  position: absolute;
}


/* find the store */
.find-the-store{
  background-image: url(../images/find_store_bg.jpg);
}

.find-the-store .inner{
  height: 400px;
}

.find-the-store .texture1{
  position: absolute; left: 400px;
}
.find-the-store .texture2{
  position: absolute; right: 0; bottom: 0;
}

.find-the-store .picture{
  border-radius: 50%;
  box-shadow: 2px 2px 8px rgba(0, 0, 0 ,.5);
  position: absolute;
}
.find-the-store .picture1{
  width: 400px;
  height: 400px;
  top: -60px;
  left: 0;
}
.find-the-store .picture2{
  width: 200px;
  height: 200px;
  top: 150px;
  left: 250px;
}
.find-the-store .text-group{
  position: absolute; top: 120px; left: 550px;
}
.find-the-store .text-group .title{
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 700;
}
.find-the-store .text-group .description{
  margin-bottom: 20px;
}

/* footer */
footer{
  background: #2c2a29;
  color: #fff; 
}
footer .container{ padding: 40px 20px;}
@media(min-width:768px){
  footer .container{
    display:flex;
    flex-wrap: wrap;
    max-width: var(--large--width);
    margin: 0 auto;
  }
  .footA{
    flex: 0 0 40%;
    /* 0 0은 확대 축소X */
  }
  .footB{
    flex: 0 0 60%;
  }
  .footC{
   flex: 0 0 100%;
  }
}
/* footerA : 사이트 정보 */
.footA{margin-bottom: 30px;}
.footA img{
  width: 200px;
  font-family: 'Pretendard-Regular';
  letter-spacing: 0.2em;
  margin-bottom: 10px;
  font-size: 30px;
}
.footA p{
  font-size: 14px;
}


/* footerB : footerMenu */
.footB div{margin-bottom: 20px;} 
.footB h3{
  font-size: 14px;
  border-bottom: 1px solid currentColor;
  margin-bottom: 10px;
}

.footB ul{}
.footB a{
  display: block;
  padding: 5px;
  transition: 0.2s;
}
.footB a:hover{
  background-color: #c3c3c3;
}

@media(min-width:768px){
  .footB { 
    display: flex;
   /*  gap: 20px; */
  }
  .footB div{
    flex: 1;
  }
  .footB div:not(:first-child){
    margin-left: 40px; 
  }
}

/* footerC :copy right */
.footC{
  font-family: "Montserrat",sans-serif;
  font-size: 12px;
  text-align: center;
  color:#dcb649;
}

/* footerD :SNS Menu */
.footD{margin-top: 20px;}
.footD ul{
  display: flex;
}
.footD a{
  display: block;
  margin-right: 8px;
  font-size: 16px;
  height: 2em;
  width: 2em;
  line-height: 2;
  text-align: center;
  border: 1px solid currentColor;
  border-radius: 50%;
  transition: .1s;
}
.footD a:hover{
  background:rgba(0, 0, 0, 0.17);
}